<link rel="stylesheet" href="/css/jobform.css">

<form  action="/jobs/create" method="post">
    
    <div class="form">
        <h3>Post New Job</h3>
    <div>
        <input type="text" placeholder="Job Role" name="rol">
    </div>
    <div>
        <input type="text" placeholder="Key Job Function" name="function">
    </div>
    <div>
        <input type="text" name="skills" id="skills" placeholder="Key Skills Required">
    </div>
    <div>
        <input type="text" name="location" id="location" placeholder="Job Location">
    </div>
    <div><button type="submit"> Submit </button></div>
    </div>
    
</form>