<link rel="stylesheet" href="/css/sign_in.css">

<div id="login-container">
<h1> User Sign In </h1>

<form action="/users/create-session" method="POST">
    <div>
        <input type="email" name="email" placeholder="Email" required>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <div>
        <input type="submit" value="Sign In">
    </div>

</form>


<hr>
<hr>

<div>
    <p> Don't have an account? <a id="signUp-link" href="/users/sign-up"> Sign up </a> </p>
</div>

</div>

