header {
  padding: 0 10px;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(14, 131, 241, 0.5);
}

header div a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul li {
  list-style: none;
  margin-left: 10px;
}

header ul li a {
  text-decoration: none;
  color: white;
}
