.notification {
  width: 600px;
  margin: 10px auto;
  font-size: 20px;
  color: indianred;
}

.container {
  width: 600px;
  margin: 50px auto;
  margin-bottom: 20px;
}

.container .job {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.container .job h3 {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: green;
}

.container .job .job__function {
  margin: 8px;
  font-size: 25px;
}

.container .job .job__function .brown_col {
  color: #777;
}
