#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: green;
    margin: 10vh auto;
    width: 50vh;
    box-shadow: 0 0 5px black;
    padding: 10px;
}

form {
    input {
        border:1px solid rgba($color: #000000, $alpha: 0.5) ;
        font-size: 1.2rem;
    }

    div {
        margin-top: 8px;
    }
    
}

#signUp-link {
    text-decoration: none;
}